.tallinn-chart {
    ul {
        margin: 0;

        li {
            &:before {
                content: none;
            }

            span {
                margin-top: 5px;
            }
        }
    }
}

.tallinn-chart__selector-container {
    span {
        width: 1rem;
        height: 1rem;
        display: inline-flex;
        margin-right: 0.5rem;
        background-color: transparent;
    }

    .form-type-select {
        display: inline-flex;
        max-width: 100%;
    }

    .tallinn-chart__selector {
        width: 100%;
    }
}

.tallinn-chart__legend {
    padding: 0 1rem;
    border: 1px solid #EEE;
    margin-top: 1rem;

    .form__legend {
        margin-bottom: 0;
    }

    span {
        width: 1rem;
        height: 1rem;
        display: inline-flex;
        margin-right: 0.5rem;
        border-radius: 50%;
        float: left;
    }
}

.tallinn-chart__text-container {
    margin: 5px 0;
    display: block !important;
    width: auto !important;
    height: auto !important;
}

.tallinn-chart__body {
    .no-data {
        color: #aaa;
    }

    .no-progress {
        color: #faa;
    }

    .in-progress {
        color: #fc0;
    }

    .completed {
        color: #BC7;
    }
}
